{
  "extends": [
    // "eslint-config-ali/typescript/vue",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/vue"
  ],
  "env": {
    "node": true,
    // The Follow config only works with eslint-plugin-vue v8.0.0+
    "vue/setup-compiler-macros": true
  }
}
